_build
.*.swp
.merlin
*.xe
*.xml
backend.ml
main.ml
myocamlbuild.ml
Makefile
!static_website/Makefile
!lwt/Makefile
!dns/Makefile

# Generated outputs
*.native
*.cfg
*.xen
*.map
*.img
*.xl
static*.ml
static*.mli
mir-*
log
